.container {
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  background-color: #3d3b47;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #444;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  height: 330px;
  animation: moveup 1.2s ease;
}
@keyframes moveup {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
}
.inputs {
  position: relative;
  padding: 10px 0 10px 10px;
  width: 100%;
  float: left;
  margin-bottom: 30px;
  color: #fff;
}
.inputs input {
  width: 100%;
  padding: 0 15px;
  border-color: #aaa;
  border-width: 0 0 2px 0;
  color: #fff;
  outline: none;
  transition: all 0.3s ease;
  background-color: transparent;
}
.inputs input:focus {
  border-color: #fff;
}
.half {
  width: 50%;
}
.inputs input:placeholder-shown + label {
  color: #999;
  right: 0;
  bottom: -4px;
}
.inputs input:focus + label,
.inputs input + label {
  position: absolute;
  bottom: 14px;
  right: 0;
  line-height: 60px;
  font-size: 14px;
  transition: all 0.25s ease;
  color: #999;
}
.inputs button {
  border: 1px solid transparent;
  padding: 10px 40px;
  background-color: #465;
  color: #fff;
  transition: border 0.25s ease;
  float: left;
  cursor: pointer;
  outline: none;
}
.inputs button:hover {
  border: 1px solid #fff;
}
