.img-responsive {
  display: inline-block;
  width: 100%;
  height: auto;
}
.container {
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  margin: 150px auto;
  border: 1px solid #efefef;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.right-side {
  display: flex;
  flex-basis: 50%;
  position: relative;
}
.left-side {
  display: flex;
  flex-basis: 50%;
}
.social-login {
  position: absolute;
  width: 100%;
  text-align: center;
}
.social-login i {
  font-size: 30px;
  margin-left: 18px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px;
  margin-top: -8px;
  transition: all 0.5s ease;
}
.social-login a:nth-child(1) i {
  color: #1274f5;
}
.social-login a:nth-child(1) i:hover {
  background-color: #1274f5;
  color: #fff;
  border-radius: 50%;
}
.social-login a:nth-child(2) i {
  color: #fc0303;
}
.social-login a:nth-child(2) i:hover {
  background-color: #fc0303;
  color: #fff;
  border-radius: 50%;
}
.right-side form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 70px;
}
.right-side form .input-groups {
  position: relative;
}
.right-side form .input-groups label {
  font-size: 14px;
}
.right-side form .input-groups input {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #f3f2f2;
  outline: none;
  margin: 12px 0 16px 0;
  padding-right: 2px;
  border-width: 0 0 1px 0;
}
.right-side form .input-groups span::after {
  content: "";
  position: absolute;
  bottom: 15px;
  right: 0;
  background-color: #70b7fa;
  width: 0;
  height: 2px;
  transition: width 0.2s linear;
}
.right-side form .input-groups input:focus ~ span::after {
  width: 100%;
}
.right-side form .input-groups input[type="checkbox"] {
  height: 15px;
  position: absolute;
  top: -6px;
  right: -50px;
}
.right-side form input[type="submit"] {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #efefef;
  outline: none;
  background-color: #2df1b7;
  margin-top: 16px;
  color: #fff;
  cursor: pointer;
}
